/* header */
/* pc 버전 */
header {position: sticky; top: 0; z-index: 9;}
header .pc {max-width: 120rem; padding: 2.5rem 17.5rem 2.5rem 15rem; background: rgba(2, 2, 2, 0.5); border-bottom-left-radius: 2.5rem; border-bottom-right-radius: 2.5rem; display: flex; align-items: center; justify-content: space-between;}
header .pc .logo {width: 7.375rem;}
header .pc .logo img {width: 100%;}
header .pc .gnb {display: flex; align-items: center; gap: 6.25rem;}
header .pc .gnb li {}
header .pc .gnb li a {}

/* main 영역 */
/* 공통 영역 */
.legend {display: flex; justify-content: center;  align-items: flex-start; gap: 0.875rem;}
.legend span {display: block;}
.legend .num{color: #61FF83; font-size: 2rem; font-weight: 700;}
.legend .text{text-align: center; font-size: 3.4375rem; font-weight: 700; line-height: normal;}
.slideWrap {display: flex; overflow: hidden;}
.marquee { display: flex; animation: marqueeAnimation 120s linear infinite; }
.slideText {text-align: center; font-family: "GmarketSansBold"; font-size: 21.875rem; font-weight: 700; letter-spacing: -0.3281rem; white-space: nowrap; display: inline-block; padding: 1.625rem 0; line-height: 1;}

/* ==============intro =======================*/
.intro {position: relative;}
.intro .videoBox {border-radius: 2.5rem; overflow: hidden; padding: 0 5.3125rem; }
.intro #location {width: 100%; margin: 0 auto; border-radius:  2.5rem;}
.intro .textContents {position: absolute; top: 50%; transform: translateY(-50%); left: 13%;}
.intro .textContents .title {font-size: 3rem; font-weight: 700; letter-spacing: -0.0313rem; line-height: 3.4375rem; margin-bottom: 0.6875rem; position: relative; display: flex; flex-flow: row wrap; width: 75%;}
.intro .textContents .title::after {content: ''; display: inline-block; background: url(../images/img_05.png) no-repeat; width: 100%; height: 100%; position: absolute; left: 13.75rem; top: 1.25rem; background-size: 100%;}
.intro .textContents .sub {font-size: 2.25rem; font-family: 'pretendard'; font-weight: 700; line-height: 3rem; letter-spacing: -0.0938rem; margin-bottom: 0.5625rem;}
.intro .textContents .desc {font-size: 1.125rem; font-family: 'pretendard'; font-weight: 100; line-height: 1.5625rem; letter-spacing: -0.0625rem;}

/* slogan */
.slogan {margin: 17.9375rem 0 17.375rem 0; overflow: hidden; }
.slogan .sloganTitle {text-align: center; font-family: "GmarketSansMedium"; font-size: 1.375rem; font-weight: 700; line-height: normal; padding-top: 2rem;}
.slogan .sloganDesc {font-family: 'pretendard'; font-size: 1.25rem;  font-weight: 300; line-height: 1.9375rem; letter-spacing: -0.0187rem; text-align: center;}
.slogan .logoText {text-align: center; font-family: 'Pretendard'; font-size: 2.5rem; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.0375rem; padding-top: 0.875rem;}

/* 슬라이드 마퀴 애니메이션 */
@keyframes marqueeAnimation { 0% { transform: translateX(0%); } 100% { transform: translateX(-100%); } }

/* ================= ourServices ===================== */
/* 상단 슬라이드 카드 */
.ourServices {background: url(../images/bg_05.png) no-repeat center / cover; padding-top: 9.8125rem; padding-bottom: 17rem;}
.ourServices .servicesSlide {padding-left: 18.75rem; padding-top: 6.25rem;}
.ourServices .servicesSlide .servicesSlide_swiper {padding-bottom: 9.0625rem;}
.ourServices .servicesSlide .swiper-wrapper .swiper-slide {background: rgba(43, 43, 43, 0.40); box-shadow: 0.9375rem 0.9375rem 0.9375rem 0rem rgba(0, 0, 0, 0.80); backdrop-filter: blur(0.3125rem); font-family: 'Pretendard'; padding: 5.1875rem 2.375rem 0 2.3125rem; width: 30.375rem !important; height: 39.0625rem !important;}
.ourServices .servicesSlide .swiper-slide .num {color: #61FF83; font-size: 1.5rem; font-weight: 400; padding-bottom: 1.9375rem;}
.ourServices .servicesSlide .swiper-slide .title {font-size: 2.25rem; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.0675rem; padding-bottom: 1.0625rem;}
.ourServices .servicesSlide .swiper-slide .sub { font-size: 1.875rem; font-style: normal; font-weight: 400; line-height: normal; letter-spacing: -0.0563rem; padding-bottom: 1.9375rem;}
.ourServices .servicesSlide .swiper-slide .sub .keyColor {font-weight: 700;}
.ourServices .servicesSlide .swiper-slide .desc { font-size: 1.125rem; font-style: normal; font-weight: 100; line-height: 1.5625rem; letter-spacing: -0.0625rem; }
.ourServices .servicesSlide .swiper-slide .desc .keyColor {font-weight: 700;}
.ourServices .servicesSlide .swiper-slide .iconBox {padding-top: 3.5rem; width: 60%;}
.ourServices .servicesSlide .swiper-slide .iconBox img {width: 100%;}
.ourServices .servicesSlide .swiper-slide .slideImg {width: 26.125rem; overflow: auto;}
.ourServices .servicesSlide .swiper-slide .slideImg img {width: auto !important;}

.ourServices .servicesSlide .swiper-slide .slideImg::-webkit-scrollbar {
    width: 4.3125rem;         /* 가로 스크롤바 높이 */
    height: 0.5rem; 
}
.ourServices .servicesSlide .swiper-slide .slideImg::-webkit-scrollbar-track {
    background: #111;
    border-radius: 1.25rem;
}
.ourServices .servicesSlide .swiper-slide .slideImg::-webkit-scrollbar-thumb {
    background: #414141; /* 스크롤바 색상 */
    border-radius: 1.25rem;
}

/* slide4 이중 슬라이드 */
.ourServices .swiper.servicesSlide:not(.mySwiper2) {padding-left: 18.75rem;}
/* .ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) {padding-bottom: 0.4375rem;} */
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) {background: rgba(43, 43, 43, 0.40); box-shadow: 0.9375rem 0.9375rem 0.9375rem 0rem rgba(0, 0, 0, 0.80); backdrop-filter: blur(0.3125rem); font-family: 'Pretendard'; padding: 5.1875rem 2.375rem 0 2.3125rem; width: 30.375rem !important; height: 39.0625rem !important;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .num {color: #61FF83; font-size: 1.5rem; font-weight: 400; padding-bottom: 1.9375rem;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .title {font-size: 2.25rem; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.0675rem; padding-bottom: 1.0625rem;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .sub { font-size: 1.875rem; font-style: normal; font-weight: 400; line-height: normal; letter-spacing: -0.0563rem; padding-bottom: 1.9375rem;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .sub .keyColor {font-weight: 700;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .desc { font-size: 1.125rem; font-style: normal; font-weight: 400; line-height: 1.5625rem; letter-spacing: -0.0625rem; }
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .desc .keyColor {font-weight: 700;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .iconBox {padding-top: 3.5rem; width: 60%;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .iconBox img {width: 100%;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .slideImg {width: 26.125rem; overflow: auto;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .slideImg img {width: auto !important;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .mySwiperHorizontal .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide)  {height: 17.3125rem !important;width: max-content !important;box-sizing: border-box; padding: 0;}
.swiper.mySwiper2 {width: 100%; height: 100%;}
.swiper.mySwiper2 .swiper-slide {font-size: 1.125rem; height: auto; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1.875rem;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .mySwiperHorizontal .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide)  {height: 17.3125rem !important;width: max-content !important;box-sizing: border-box; background: none;
    box-shadow: none;
    backdrop-filter: none;}
.swiper.mySwiper2 {width: 100%; height: 100%;}
.swiper.mySwiper2 .swiper-slide {font-size: 1.125rem; height: auto; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1.875rem;}
.slideImg.swiper {width: 100%;height: auto;}
.slideImg .swiper-wrapper {display: flex;}
.slideImg .swiper-slide {width: auto !important; height: auto; flex-shrink: 0; padding: 0 0.625rem; /* 여백 조절 */}
.slideImg img {max-height: 18.75rem; /* 이미지 높이 제한 */display: block;}
.mySwiperHorizontal {pointer-events: auto;}
.ourServices .swiper.servicesSlide:not(.mySwiper2) .swiper-wrapper:not(.wrapper2) .swiper-slide:not(.inner-slide) .slideImg {overflow: hidden;width: 100%;}
/* 이중슬라이드 스크롤바 */
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {height: 0.5rem; background: #111;}
.swiper-scrollbar-drag {background: #414141;}

/* 슬라이드 페이지네이션 */
.ourServices .servicesSlide .swiper-pagination {border-radius: 2.6563rem; background: rgba(65, 65, 65, 0.50); box-shadow: 0.25rem 0.25rem 0.625rem 0rem #000; backdrop-filter: blur(0.3125rem); width: 18.9375rem; left: 50%; transform: translateX(-50%); padding: 2.375rem 4.375rem; display: flex; align-items: center; justify-content: center;}
.swiper-pagination-clickable .swiper-pagination-bullet {width: 0.625rem; height: 0.625rem; background: #D9D9D9; margin: 0 0 !important; display: block;}
.swiper-pagination-clickable .swiper-pagination-bullet:not(:last-child) {margin-right: 1.25rem !important;}
.swiper-pagination-bullet-active {width: 2.5625rem !important; border-radius: 0.4375rem !important;}

/* 슬라이드 개별 배경 설정*/
.ourServices .servicesSlide .slide2 {background: url(../images/slide_01.png) no-repeat bottom right !important;
background-size: 70% !important;}
.ourServices .servicesSlide .slide3 {position: relative;}
.ourServices .servicesSlide .slide3::after {content: ''; display: inline-block; background: url(../images/slide_02.png) no-repeat; background-size: 85%; position: absolute; left: 6rem; z-index: 9; width: 100%; height: 100%;}

/* 마지막 슬라이드 */
.ourServices .swiper-slide .descText {height: 15rem; width: auto; overflow-y: auto;}
.ourServices .swiper-slide .descText .subject {font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem; /* 138.889% */
    letter-spacing: -0.0313rem;}
.ourServices .swiper-slide .descText .content {font-size: 1.125rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5625rem;
    letter-spacing: -0.0313rem;}

.ourServices .swiper-slide .descText .content:not(:last-child) {padding-bottom: 2rem;}
.ourServices .swiper-slide .descText::-webkit-scrollbar {
    width: 0.5rem;         /* 가로 스크롤바 높이 */
    height: 4.3125rem;        /* 세로 스크롤바 너비 */
}
.ourServices .swiper-slide .descText::-webkit-scrollbar-track {
    background: #111; /* 스크롤바 트랙 배경색 */
    border-radius: 1.25rem;
}
.ourServices .swiper-slide .descText::-webkit-scrollbar-thumb {
    background: #414141; /* 스크롤바 색상 */
    border-radius: 1.25rem;
}

/* 하단 sandglass */
.sandGlass {padding-top: 17rem;}
.sandGlass .desc {font-size: 2.0625rem; font-style: normal; font-weight: 300; line-height: normal; text-align: center; font-family: 'GmarketSansLight'}
.sandGlass .title{font-size: 6.875rem; font-family: 'GmarketSansBold'; text-align: center;}
.sandGlass .mockupImg {max-width: 92.8125rem; width: 100%; height: 68.3125rem; position: relative; left: 55%; transform: translateX(-50%);}
.sandGlass .mockupImg img {width: 100%;}
.sandGlass .textBox {font-family: 'Pretendard'; text-align: center; color: #343434;}
.sandGlass .textBox .num{ font-size: 1.5rem; font-family: 'GmarketSansMedium'; padding-bottom: 1rem;}
.sandGlass .textBox .title{font-family: 'Pretendard'; font-size: 2.25rem; font-weight: 700; letter-spacing: -0.0675rem; padding-bottom: 0.9375rem;}
.sandGlass .textBox .sub{font-family: 'Pretendard'; font-size: 1.875rem; font-weight: 400; letter-spacing: -0.0563rem; line-height: normal; padding-bottom: 1.75rem;}
.sandGlass .textBox .desc{font-family: 'Pretendard'; font-size: 1.125rem; font-weight: 400; line-height: 1.5625rem; letter-spacing: -0.0625rem; line-height: 1.5625rem; padding-bottom: 12.6875rem;}

.sandGlass .sloganTitle{color: #6B6B6B; text-align: center; font-size: 1.5rem; font-style: normal; font-weight: 700; line-height: normal }
.sandGlass .sloganDesc {color: #6B6B6B; text-align: center; font-family: 'Pretendard'; font-size: 1.25rem; font-style: normal; font-weight: 300; line-height: 1.9375rem;}
.sandGlass .logoText{ color: #6B6B6B; text-align: center; font-family: 'Pretendard'; font-size: 2.25rem; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.0338rem; padding-top: 0.8125rem;}

/* ========================= caseStudies =============================== */
.caseStudies {background: url(../images/bg_03.png) no-repeat center / cover; padding-top: 10.5rem;}
.caseStudies .desc {text-align: center; font-family: 'Pretendard'; font-size: 1.875rem; font-style: normal; font-weight: 100; line-height: normal; letter-spacing: -0.0563rem; padding-top: 1rem;}

/* 슬라이드 공통 스타일 */
/* .caseStudiesSlide{opacity: 0; transform: translateX(-80%);} */
.caseStudiesSlide .swiper-wrapper .swiper-slide {display: flex;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .case {background: rgba(255, 255, 255, 0.03); border: 0.125rem solid #ACACAC4D  ; font-family: 'Pretendard'; padding: 4.25rem 0 5rem 2.8125rem; width: 22.375rem; flex-shrink: 0;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .case .caseNum{font-size: 1.25rem; font-style: normal; font-weight: 300; line-height: normal; padding-bottom: 4.5rem;}
.caseStudiesSlide {padding-bottom: 4.4375rem;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .case .company{font-family: "GmarketSansLight"; font-size: 2.8125rem; font-style: normal; font-weight: 300; line-height: normal; padding-bottom: 9.25rem;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .case .field{ font-size: 2rem; font-style: normal; font-weight: 300; line-height: 2rem;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .contents {font-family: 'Pretendard'; width: 47.3125rem; background: rgba(34, 34, 34, 0.80);box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.20); padding: 10.0625rem 0 3.125rem 3.6875rem; flex-shrink: 0;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .contents .topText {display: flex; flex-flow: column;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .contents .topText .row {display: flex; gap: 0.5625rem;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .contents .topText .row .title {color: #61FF83; font-weight: 700; font-size: 1.125rem; font-style: normal; font-weight: 700; line-height: 1.5625rem; font-family: 'GmarketSansMedium'; width: 6.875rem;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .contents .topText .row .result {font-size: 1.125rem; font-style: normal; font-weight: 100; line-height: 1.5625rem;}
.caseStudiesSlide .swiper-wrapper .swiper-slide .contents .bottomText {font-size: 1.125rem; font-style: normal; font-weight: 200; line-height: 1.875rem; /* 166.667% */ letter-spacing: -0.0625rem; padding-top: 4rem;}

/* 개별 슬라이드 */
#topSlide {padding: 12.125rem 0 3.4375rem 14.9375rem;}
#bottomSlide {padding-bottom: 6.4375rem;}
#bottomSlide {
    /* transform: translateX(100%); */
    justify-content: flex-start;
}

.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

/* 하단 OUR CLIENTS */
.brandBox {}
.brandBox .title {font-size: 2rem; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.03rem; text-align: center; padding-bottom: 2.5625rem;}
.brandBox .name { text-align: center; font-family: 'Pretendard'; font-size: 1.25rem; font-style: normal; font-weight: 200; line-height: normal; letter-spacing: -0.0187rem; }
.brandBox .name p:not(:last-child) {padding-bottom: 0.875rem;}

.caseStudies .slideWrap {padding-top: 16.8125rem;}
.caseStudies .sloganTitle {text-align: center; font-size: 1.5rem; font-style: normal; font-weight: 700; line-height: normal;}
.caseStudies .sloganDesc {font-family: 'Pretendard'; font-size: 1.25rem; font-style: normal; font-weight: 100; line-height: 1.9375rem; text-align: center; padding-bottom: 1.5rem;}
.caseStudies .logoText {text-align: center; font-family: 'Pretendard'; font-size: 2.25rem; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.0338rem; padding-bottom: 13.125rem;}

/* ===================== clientsTestimonials ========================== */
.clientsTestimonials {background: url(../images/bg_04.png) no-repeat center / cover; padding-top: 8.3125rem; padding-bottom: 8rem;}
.clientsTestimonials > .desc {text-align: center; font-family: 'Pretendard'; font-size: 1.875rem; font-style: normal; font-weight: 100; line-height: normal; letter-spacing: -0.0563rem; padding-top: 1rem; padding-bottom: 7.6875rem; ;}
.reviewBox {display: flex; flex-flow: column; align-items: center; width: 92.5rem; margin: 0 auto; height: 62.75rem; overflow-y: auto;}
.reviewBox .item {display: flex; align-items: flex-start; justify-content: space-between; padding: 2.375rem 5.9375rem 3.75rem 8.5rem; border-radius: 3.125rem; background: #454545; width: 87.5rem;}
.reviewBox .item:not(:last-child) {margin-bottom: 3.4375rem;}
.reviewBox .item .profile {display: flex; align-items: center;}
.reviewBox .item .profile .personImg {width: 6.4375rem; height: 6.6875rem;}
.reviewBox .item .profile .personImg img {width: 100%;}
.reviewBox .item .profile .company {display: flex; flex-flow: column; align-items: flex-start; padding-left: 1.5rem;}
.reviewBox .item .profile .company .name {font-family: 'Pretendard'; font-size: 2rem; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.06rem;} 
.reviewBox .item .profile .company .desc {display: flex; gap: 0.5625rem; padding-top: 0.25rem;}
.reviewBox .item .profile .company .desc .date {
    font-family: 'Pretendard';
font-size: 1rem;
font-style: normal;
font-weight: 100;
line-height: normal;
letter-spacing: -0.03rem;
} 
.reviewBox .item .profile .company .desc .category {
    font-family: 'Pretendard';
font-size: 1rem;
font-style: normal;
font-weight: 400; 
line-height: normal;
letter-spacing: -0.03rem;
} 

.reviewBox .item .comment {} 
.reviewBox .item .comment .headline {font-family: 'Pretendard'; font-size: 1.75rem; font-style: normal; font-weight: 500; line-height: 2.1875rem; letter-spacing: -0.0525rem; padding-bottom: 0.75rem;}
.reviewBox .item .comment .content { font-family: 'Pretendard'; font-size: 1.25rem; font-style: normal; font-weight: 100; line-height: 2.1875rem; letter-spacing: -0.0375rem;
}

/* reviewBox 스크롤바 */
.reviewBox::-webkit-scrollbar {background: #111; width: 0.75rem;}
.reviewBox::-webkit-scrollbar-track {border-radius: 2rem;}
.reviewBox::-webkit-scrollbar-thumb {background: #414141; border-radius: 2rem;}


/* reviewBox 모바일버전 슬라이드 */
.reviewBoxMo {padding: 0 2.6rem; position: relative;}
.reviewBoxMo .swiper {position: static;}
.reviewBoxMo .swiper-wrapper {}
.reviewBoxMo .swiper-wrapper .swiper-slide {
    background: #454545;
    border-radius: 1.9rem;
    height: 42.1rem !important;
}
.swiper-button-next, .swiper-button-prev {
    width: calc(var(--swiper-navigation-size) / 100 * 22);
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 22px; color: rgba(255, 255, 255, 0.5);
}
.reviewBoxMo .swiper-slide .item {
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
}
.reviewBoxMo .swiper-slide .item .profile {
    display: flex; 
    align-items: center; 
    gap: 1.6rem;
    padding-bottom: 7.5rem;
}
.reviewBoxMo .swiper-slide .item .profile .personImg {width: 6.3rem;}
.reviewBoxMo .swiper-slide .item .profile .personImg img {width: 100%;}
.reviewBoxMo .swiper-slide .item .profile .company {}
.reviewBoxMo .swiper-slide .item .company .name {
    font-family: 'Pretendard';
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.66px;
}
.reviewBoxMo .swiper-slide .item .company .desc{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.reviewBoxMo .swiper-slide .item .company .desc .date {
    font-family: 'Pretendard';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -0.33px;
}
.reviewBoxMo .swiper-slide .item .company .desc .category {
    font-family: 'Pretendard';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.33px;
}

.reviewBoxMo .swiper-slide .item .comment {}
.reviewBoxMo .swiper-slide .item .comment .headline {
    font-size: 2rem;
    padding-bottom: 1.3rem;
    font-family: 'Pretendard';
    font-weight: 500;
}
.reviewBoxMo .swiper-slide .item .comment .content {
    font-size: 1.4rem;
    font-family: 'Pretendard';
    font-weight: 100;
    line-height: 1.5;
    word-break: keep-all;
}
.reviewBoxMo .swiper-slide .item .comment .content br {display: none;}


/* =========================== contactUs =============================== */
.contactUs {padding: 6.0625rem 16.25rem 6.0625rem; background: #2b2b2b;}
.contactUs .desc {text-align: center; font-family: 'Pretendard'; font-size: 1.875rem; font-style: normal; font-weight: 100; line-height: normal; letter-spacing: -0.0563rem; padding-top: 1rem ;}
.contactUs .infoBox {display: flex; justify-content: space-between; gap: 9.0625rem; padding-top: 8.4375rem; padding-bottom: 5rem;}
.contactUs .infoBox .promoText {}
.contactUs .infoBox .promoText .title { color: #61FF83; font-size: 1.25rem; font-family: 'GmarketSansBold'; letter-spacing: -0.0625rem;}
.contactUs .infoBox .promoText .text {font-family: 'Pretendard'; font-size: 1.5rem; font-style: normal; font-weight: 400; line-height: 2.375rem; letter-spacing: -0.045rem;}
.contactUs .infoBox .info {}
.contactUs .infoBox .info .title {font-size: 1.25rem; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.0625rem; color: #61FF83; padding-bottom: 2rem;}
.contactUs .infoBox .info .row {display: flex; gap: 3.25rem; padding-bottom: 1.4375rem;}
.contactUs .infoBox .info .row .item {display: flex; align-items: center; gap: 1.1875rem;}
.contactUs .infoBox .info .item {display: flex; align-items: center; gap: 1.1875rem;}
.contactUs .infoBox .info .item .icon {width: 3.3125rem; height: 3.3125rem; display: block;}
.contactUs .infoBox .info .item .icon img {width: 100%;}
.contactUs .infoBox .info .row .item .content {font-size: 1.25rem; font-style: normal; font-weight: 500; line-height: 2.1875rem; letter-spacing: -0.0375rem;}
.contactUs .infoBox .info .item .content {font-size: 1.25rem;}

/* form 영역 */
.form {}
.form .userInfo {}
.form .userInfo .row {display: flex; justify-content: space-between; height: 7.6875rem;}
.form .userInfo .row:nth-child(1) {gap: 1.6875rem; margin-bottom: 1.6875rem;}
.form .userInfo .row .userName {width: 32.5625rem; position: relative;}
.form .userInfo .row .userName .title {}
.form .userInfo .row .question {width: 53.25rem;}
.form .userInfo .row .question option {}
.form .userInfo .row .userPhone {display: flex; flex-flow: column; gap: 0.5rem; height: 100%; width: 61.1875rem; position: relative;}
.form .userInfo .row .userPhone .title {}
.form .userInfo .row .userPhone .text {}

.sldieContent {height: 100%;}

.form .userInfo .row .submit {width: calc(100% - 61.1875rem);}
.form .userInfo .row .submit input[type="image"] {width: 100%;}

/* 공통 */
.form .userInfo .row .title {display: block; color: #B3B3B3; font-family: 'Pretendard'; font-size: 1.5rem; font-style: normal; font-weight: 400; line-height: 2.375rem; /* 158.333% */ letter-spacing: -0.045rem; padding: 0.6875rem 0 0.0 1.375rem; }
.form .userInfo .row .title em {color: #61FF83;}
.form .userInfo .row .text {}
.form .userInfo .row input[type="text"] {background: none; border: none; outline: none; color: #fff; font-size: 1.5rem; padding-left: 1.375rem; width: 100%; height: 3.125rem;}
.form .userInfo .row input[type="text"]::placeholder {color: #515151;}
.form .userInfo .row #nameAlert {position: absolute; top: 40%; left: 5%; 
color: #61FF83;
font-family: 'Pretendard';
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
letter-spacing: -1.2px;
pointer-events: none;}
.form .userInfo .row #phoneAlert{
    position: absolute; top: 40%; left: 2%; 
    color: #61FF83;
font-family: 'Pretendard';
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
letter-spacing: -1.2px;
pointer-events: none;
}
.form .userInfo #selectAlert {
    position: absolute; top: 40%; left: 2%; 
    color: #61FF83;
font-family: 'Pretendard';
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
letter-spacing: -1.2px;
pointer-events: none;
}

.form .userInfo .row .userName,
.form .userInfo .row .question,
.form .userInfo .row .userPhone {border: 0.0625rem solid #b3b3b3;}

.form .userInfo .row .userName,
.form .userInfo .row .question {display: flex; flex-flow: column; gap: 0.5rem; position: relative;}
.form .userInfo .row .question select {
    color: #515151;
    background: url(../images/icon_arrow.png) no-repeat right;
    background-size: 1.5rem 1.25rem;
    font-family: 'Pretendard';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem;
    letter-spacing: -0.06rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
    height: 3.125rem;
}
.form .userInfo .row .question select:disabled {color: #fff;}

.form .userInfo .row .question select option {
    color: #fff;
    padding: 1.625rem 0 1.625rem 2.3125rem; background: #515151;
    padding: 0 1rem;
    width: calc(100% - 2rem);
    box-sizing: border-box;
    margin: 0 auto ;
}
/* .form .userInfo .row .question select option:nth-child(1) {color: #b3b3b3;} */

/* 개인정보처리방침 */
.form .userInfo .agBox {padding-top: 1.6875rem; display: flex; flex-flow: row; align-items: center; gap: 1rem;}
.form .userInfo .agBox label { color: #B3B3B3; display: flex; align-items: center;}
.form .userInfo .agBox label input {
    appearance: none;
    width: 0.9375rem;
    height: 0.9375rem;
    background: transparent;
    border: 0.0625rem solid #B3B3B3;
    position: relative;
    top: -2px;
}
.form .userInfo .agBox label input:checked {background: #61FF83; border: none;}
.form .userInfo .agBox label span {font-family: 'Pretendard';
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1.8125rem; /* 181.25% */
    letter-spacing: -0.03rem;}
.form .userInfo .agBox .btn-agreement {
    color: #B3B3B3;
font-family: 'Pretendard';
font-size: 1rem;
font-style: normal;
font-weight: 800;
line-height: 1.8125rem;
letter-spacing: -0.03rem;
}
.form .agBox a{font-weight:bold;}
.form .agreement{display:none; box-sizing:border-box; width:100%; background-color:#363636; border:1px solid #a3a3a3; border-radius:3px; padding:5px; margin:15px auto; display: none;
padding: 1rem; font-family: 'Pretendard';}
.form .agreement.popup{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
.form .agreement .button{float:right; font-size:90%; border:1px solid #000; border-radius:0px; background-color:#efefef; padding:4px 8px; margin:3px; color: #000;}
.form .agreement h3{font-size:100%; margin:0; padding:0 0 1%;}
.form .agreement ol li{line-height:1.2; font-size:90%; font-weight: 100;}
.form .agreement ol li.desc{line-height:2;}


/* footer */
footer {display: flex; justify-content: space-between; padding: 3.125rem 16.5625rem 3rem 15.375rem; background: #222;}
footer .logo{width: 7.375rem; height: 5.75rem;}
footer .logo img{width: 100%;}
footer .contents{}
footer .contents .desc{padding-bottom: 1.1875rem;}
footer .contents .desc li {

font-family: 'Pretendard';
font-size: 0.9375rem;
font-style: normal;
font-weight: 100;
line-height: 1.3125rem;
}
footer .gnb {display: flex; gap: 2.8125rem;}
footer .gnb li {
font-family: "GmarketSansMedium";
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
